<script>
window.current_user = "<%= @current_user.id %>";
window.game_id = '<%= @game_id %>'
window.logo_src = '<%= static_path(@conn, "/images/sengoku.svg") %>'
</script>

<div id="game-container">
  <h1> Welcome to Stormtrader!! hurray!! </h1>
    <%= link "EndGame", to: page_path(@conn, :home), class: "end_game btn btn-danger btn-block" %>
  <!-- <button class="end_game btn btn-danger">End game</button> -->
</div>
