<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hello Stormtrader!</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body>



    <nav class="navbar navbar-light bg-light justify-content-between mb-1 headbar">
      <div class="navbar-brand"><h1> Storm Trader </h1></div>
      <!-- </div> -->
      <div class="row">
      <%= if @current_user do %>
      <!-- <div class="h6"> -->
      <h4 class="navbar-item active"> Player: <%= @current_user.name %> | </h4>
      <h4 class="navbar-link"> &nbsp<%= link "Home", to: page_path(@conn, :home), class: "" %> | </h4>
      <h4 class="navbar-link pr-3">&nbsp<%= link "Log Out", to: "/session", method: :delete, class: "" %></h4>
      <!-- </div> -->

      <% else %>
      <div class="navbar-item"></div>
      <% end %>
    </div>
    </nav>

<div class="container-fluid">
  <%= if get_flash(@conn, :info) do %>
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <% end %>
  <%= if get_flash(@conn, :error) do %>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <% end %>
</div>
  <main role="main">
    <%= render @view_module, @view_template, assigns %>
  </main>


<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
