<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hello Stormtrader!</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body>
  <%= if @current_user do %>
    <div class="d-flex justify-content-between headbar">
      <div class="col"><h2 class="logo"> Storm Trader </h2></div>
      <div class="d-flex justify-content-right pr-2">


      <div class="player  pr-1"> Player: <%= @current_user.name %>  </div>
      <div class="home pr-1"> &nbsp<%= link "Home", to: page_path(@conn, :home), class: "" %>  </div>
      <div class="logout pr-1">&nbsp<%= link "Log out", to: "/session", method: :delete, class: "" %></div>

    </div>
  </div>
  <% end %>

<div class=" container-fluid">
  <%= if get_flash(@conn, :info) do %>
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <% end %>
  <%= if get_flash(@conn, :error) do %>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <% end %>
</div>
  <main role="main">
    <%= render @view_module, @view_template, assigns %>
  </main>


<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
