/* This file is for your main application css. */
@import "bootstrap";

body { font-size: 20pt; }

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  height: 85vh;
  grid-gap: 0.2em;
}

.title-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.account {
  background-color: #eee;
}

.win-status {
  background-color: #1e88e5;
  height: 2em;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.wallet-status {
  background-color: #eee;
}

.timer {
  background-color: #c2185b;
  height: 2em;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.trade {
  grid-row: 1/3;
}

.stocksdb {
  grid-row: 1/3;
  background-color: #ddd;
}

.otherplayer {
  background-color: #eee;
}

.trending {
  background-color: #ddd;
}

.news {
  background-color: #eee;
}

.chat {
  background-color: #ddd;
  height:auto;
  overflow-y: scroll;
}

.padding {
  height: 0.2em;
}

.header {
  background-color: #3949ab;
  height: 2em;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.trade-operations {
  margin: 0 auto;
  width: 75%;
}

.buy-btn {
  width: 100%;
}

.trade-grid {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr;
}

.buy-error {
  width: 75%;
  font-size: 0.6em;
  color: red;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.buy-invoice {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #808080;
}

.width-p5em {
  margin-right: 0.5em;
}

.height-p4em {
  height: 0.4em;
}
